/**
 * Kevin Walter <walkev13@gmail.com>
 */
 
#bCmsImageImageMain .td-action {
    width:200px;
}

#bCmsImageImageMain .td-action .btn {
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    margin-top: 1px;
    padding: 5px 10px;
    width: 100%;
}