/**
 * @version 1.0
 */
#uCmsImageImageMain .td-action {
    width:200px;
}

#uCmsImageImageMain .td-action .btn {
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    margin-top: 1px;
    padding: 5px 10px;
    width: 100%;
}