/**
 * @version 1.0
 */
#uCmsAlbumAlbumMain .thumbnail {
    height:130px;
    position:relative;
}

#uCmsAlbumAlbumMain .caption {
    text-align:center;
}

#uCmsAlbumAlbumMain .option {
    background-color: #f7f7f9;
    border-top: 1px solid #e1e1e8;
    bottom: 0;
    left: 0;
    padding: 10px;
    position: absolute;
    text-align: center;
    width: 100%;
}

#uCmsAlbumAlbumMain .option-add {
    border: medium none;
    padding-top: 45px;
    top: 0;
}